[user]
	name = Tim Fischbach
	email = tfischbach@codevise.de
[alias]
	ci = commit
	co = checkout
	st = status
	br = branch
	ba = branch
	diffc = diff --cached
	logd = log --decorate
	gr = !git log --oneline --all --decorate --graph --date-order --not $(git config gr.hide)
	aci = commit --amend -C HEAD
	cpick = cherry-pick
	cm = commit

        pmerge = !git checkout production && git merge master --no-ff -m 'merge master into production' && git checkout -
        ppmerge = "!sh -c \"git checkout $1-production && git merge master --no-ff -m 'merge master into $1-production' && git checkout -\" -"
        smerge = !git checkout staging && git merge master --no-ff -m \"merge master into staging\" && git checkout -

        ppull = !git checkout production && git pull origin production && git checkout -
        pppull = "!sh -c \"git checkout $1-production && git pull origin $1-production && git checkout -\" -"
        spull = !git checkout staging && git pull origin staging && git checkout -

        mpush = !git checkout master && git push origin master && git checkout -
        ppush = !git mpush && git checkout production && git push origin production && git checkout -
        pppush = "!git mpush && sh -c \"git checkout $1-production && git push origin $1-production && git checkout -\" -"
        spush = !git mpush && git checkout staging && git push origin staging && git checkout -
        
        pullu = !git checkout master && git pull upstream master && git checkout -
        pusho = !git checkout master && git push origin master && git checkout -

        cicl = !git commit -m \"Update Changelog\"
        
	g = log --graph --decorate --oneline
	vb = vbranch
	fu = commit --fixup
	pushf = push --force-with-lease
[color]
	diff = auto
[push]
	default = current
[branch]
	autosetuprebase = always
[core]
	editor = emacsclient --alternate-editor emacs
	excludesfile = /home/tfischbach/.gitignore_global
	excludefile = /home/tfischbach/.gitignore_global
[redmine]
	url = https://redmine.codevise.de
[rebase]
	autosquash = true
